page-instrucciones {
  .tutorial-slider {
    height: 90%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }

  .tutorial-slider img {
    width: 100%;
    height: 100%;
  }

  ion-slide p {
    text-align: center;
    width: 100%;
    padding: 1em;
    color: #fff;
    margin: 0px;
    background-color: #8ca826;
    height: auto;
    line-height: 1.1em;
    font-size: 12px;
    margin-top: 1em;
  }
  .slide-zoom {
    text-align: center;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    overflow: hidden;
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
}
  .swiper-pagination-bullets {
    z-index: 9999;
  }
  .swiper-pagination-bullet-active {
    background: #a4cd38;
    opacity: 1;
}

  .tutorial-buttons {
    width: 100%;
    text-align: center;
  }
}
