page-detalle {
.detail-description{
    overflow-y: scroll;
    height: 250px;
    padding-right: 1em;
    text-align: justify;
}
.detail-head h4 {
    font-weight: bold;
    font-size: 17px; 
    margin-bottom: 6px;
}
.detail-head h5, .detail-head p{
    margin-top: 0px;
    font-size: 15px;
    margin-bottom: 6px;
    font-weight: 300;
}
.toolbar-title {
    font-weight: 700;
    font-size: 21px;
    color: #8ca826;
    margin-bottom: 0px;
    text-align:left;
}
.detail-description{
    font-size: 15px;
    font-weight: 300;
    text-align: justify;
    width: 100%;
    overflow: auto;
    padding: 0;
}
}
